<style>

	body{
		background-color: #638CB8;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}

</style>




{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="center-column">
        <div class="todo-list">
                <h3> {{list}} by {{list.owner}}

                </h3>
                <form method="POST" action=".">
                    {%csrf_token%}
                    {{ form.task_title }}
                    <input type="hidden" name="tasklist" value="{{ list }}" />
                    <input class="btn btn-info" type="submit" name="Create Task">
                </form>

                {% for task in tasks_in_list %}
                <div class="item-row">
                   

                    <a class="btn btn-sm btn-danger" href="{% url 'delete_task2' task.id %}">Delete</a>
                     {{task}}

                </div>
                {% endfor %}

        </div>
    </div>


</div>

{% endblock %}